## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
packages/
*.nupkg

## VS Code
.vscode/

## Rider
.idea/

## OS files
Thumbs.db
.DS_Store
/.vs
/WeatherChat/publish-10.zip
/WeatherChat/publish-11.zip
/WeatherChat/publish-11-agentic.zip
/WeatherChat/publish-10-agentic.zip


## Python
__pycache__/
*.pyc
.venv/

## Node.js
node_modules/
npm-debug.log
package-lock.json